<h1>Editing campus cat</h1>

<%= render "form", campus_cat: @campus_cat %>

<br>

<div>
  <%= link_to "Show this campus cat", @campus_cat %> |
  <%= link_to "Back to campus cats", campus_cats_path %>
</div>
